{extend name="base" /}
{block name="title"}修改管理员权限{/block}
{block name="right"}
    <div class="row J_mainContent" id="content-main">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>管理员管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <strong>管理员管理</strong>
                    </li>
                    <li>
                        修改管理员权限
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <form action="{:url('admin/admin/changAuthhanddle')}"
                        method="post" class="form-horizontal row"
                        enctype="multipart/form-data" id="form1">
                        <input type="hidden" name="id" value="{$admin.id}">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">管理员名称</label>
                                    <div class="col-sm-9">
                                        <input name="name" class="form-control" value="{$admin.name}" type="text" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">选择组</label>
                                    <div class="col-sm-9">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>组名称</th>
                                                    <th>拥有权限</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {volist name="group" id="vo"}
                                                <tr>
                                                    <td>
                                                        <label for="">
                                                            {$vo.title}<input type="checkbox" name="groups[]" value="{$vo.id}"
                                                            {in name="$vo.id" value="$admin.groups"}
                                                            checked
                                                            {/in}
                                                            ></td>
                                                        </label>
                                                    <td>
                                                    {volist name="$vo.rule_array" id="vo1"}
                                                    权限名称：{$vo1.title}&nbsp;&nbsp;
                                                    对应规则：{$vo1.name}<br/>
                                                    {/volist}
                                                    </td>
                                                </tr>
                                                {/volist}
                                            </tbody>

                                        </table>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="submit" value="修改权限">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="js"}
{__block__}
<script src="__ADMIN__/js/hAdmin.js?v=4.1.0"></script>
<script src="__ADMIN__/js/plugins/pace/pace.min.js"></script>
<script src="__ADMIN__/js/plugins/validate/jquery.validate.min.js"></script>
{/block}
