<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs" style="font-size:20px;">
                                <i class="fa fa-area-chart"></i>
                                <strong class="font-bold">后台管理</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">后台
                </div>
            </li>
            <li>
                <a class="J_menuItem" href="{:url('admin/index/index')}">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">主页</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-car"></i>
                    <span class="nav-label">二手车管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('admin/brand/lst')}">品牌管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('admin/carmodel/lst')}">车型管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('admin/level/lst')}">级别管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('admin/selfattribute/lst')}">自定义属性</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('admin/cars/lst')}">车源管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('admin/cars/clearimg')}">清除无效图片</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="graph_sparkline.html">Sparkline</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="graph_metrics.html">图表组合</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-car"></i>
                    <span class="nav-label">系统管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('admin/brand/lst')}">品牌管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('admin/carmodel/lst')}">车型管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('admin/level/lst')}">级别管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="graph_rickshaw.html">Rickshaw</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="graph_peity.html">Peity</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="graph_sparkline.html">Sparkline</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="graph_metrics.html">图表组合</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--左侧导航结束-->
