<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="__INDEX__/static/js/jquery.js"></script>
    <script src="__INDEX__/static/js/jQuery.cookie.js" charset="utf-8"></script>
    <title>Document</title>

</head>
<body>
    <a href="{:url('index/index/bbb')}" onclick="clickit()">aaaaaa</a>
</body>
</html>
<script type="text/javascript">
    function clickit(){
        $.cookie('haha','aaaaaa');
    }
</script>
