{extend name="base" /}
{block name="header"}
{__block__}
<script src="__ADMIN__/js/jquery.cxselect.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        $("#brands").cxSelect({
            url:"{:url('index/assessment/brandJsonGet')}",
            selects:['brand1','brand2','brand3','brand4'],
            jsonName:'name',
            jsonValue:'id',
            jsonSub:'children',
        })

    })
</script>
<script language="JavaScript">
$(function() {
    //品牌选择
    $("#brand").change(function(){
        $.get("/simcms/index.php?m=ajax&ajax=1", {
            brandid :  $("#brand").val()
        }, function (data, textStatus){
            $("#subbrand").html(data); // 把返回的数据添加到页面上
        }
    );
});

//品牌选择
$("#subbrand").change(function(){
    $.get("/simcms/index.php?m=ajax&ajax=1", {
        subbrandid :  $("#subbrand").val()
    }, function (data, textStatus){
        $("#subsubbrand").html(data); // 把返回的数据添加到页面上
    }
);
});

$div_li = $("div.tab_title ul li a");
$div_li.click(function() {
    $(this).addClass("current").parent().siblings().children().removeClass("current");
    var index = $div_li.index(this);
    $("div.cartab_box > div").eq(index).show().siblings().hide();
});

$search_li = $("div.leftsearch_tab ul li");
$search_li.click(function() {
    $(this).addClass("here").siblings().removeClass("here");
    var index = $search_li.index(this);
    $("div.leftsearch_tab_box > div").eq(index).show().siblings().hide();
});

//表单验证
$(".carform").Validform({
    tiptype:1
});
//热门车源
$("#hotcar1").load("/simcms/index.php?m=ajax&ajax=1&cartype=indexhot");
//首页推荐新车
// $("#hotcar").load("/simcms/index.php?m=ajax&ajax=1&cartype=indexnew");
//首页推荐新车旧卖
//$("#hotcar").load("/simcms/index.php?m=ajax&ajax=1&cartype=recommend");


//修改处  nav

$(".leftsearch .leftsearchbox:eq(0)").mouseover(function(){

    $("#icon_03").css("background-position","-278px -47px");
    $("#icon_02").css("background-position","-278px 0px");
    $("#icon_04").css("background-position","-0px -219px");
    $(".leftsearch .leftsearchbox .clearfix a").css("color","#333");
    $(".lefttitle").css("color","#fc5300");
    $(".triangle").show();
    $(".more:eq(0)").css("color","#fc5300");
    $(".rightad").hide();
    $(".leftsearch .leftsearchbox").css("background","#fff");

    $(".leftsearch .leftsearchbox:eq(0)").css("background","#fc5300");
    $("#icon_01").css("background-position","-94px -266px");
    $(".leftsearch .leftsearchbox:eq(0) .clearfix a").css("color","#fff");
    $(".lefttitle:eq(0)").css("color","#fff");
    $(".triangle:eq(0)").hide();
    $(".rightad:eq(0)").show();
});

$(".leftsearch .leftsearchbox:eq(1)").mouseover(function(){

    $("#icon_01").css("background-position","-278px -141px");
    $("#icon_03").css("background-position","-278px -47px");
    $("#icon_04").css("background-position","-0px -219px");
    $(".leftsearch .leftsearchbox .clearfix a").css("color","#333");
    $(".lefttitle").css("color","#fc5300");
    $(".triangle").show();
    $(".more:eq(0)").css("color","#fc5300");
    $(".rightad").hide();
    $(".leftsearch .leftsearchbox").css("background","#fff");

    $(".leftsearch .leftsearchbox:eq(1)").css("background","#fc5300");
    $("#icon_02").css("background-position","-188px -219px");
    $(".leftsearch .leftsearchbox:eq(1) .clearfix a").css("color","#fff");
    $(".lefttitle:eq(1)").css("color","#fff");
    $(".triangle:eq(1)").hide();
    $(".rightad:eq(1)").show();
});

$(".leftsearch .leftsearchbox:eq(2)").mouseover(function(){

    $("#icon_01").css("background-position","-278px -141px");
    $("#icon_02").css("background-position","-278px 0px");
    $("#icon_04").css("background-position","-0px -219px");
    $(".leftsearch .leftsearchbox .clearfix a").css("color","#333");
    $(".lefttitle").css("color","#fc5300");
    $(".triangle").show();
    $(".more:eq(0)").css("color","#fc5300");
    $(".rightad").hide();
    $(".leftsearch .leftsearchbox").css("background","#fff");

    $(".leftsearch .leftsearchbox:eq(2)").css("background","#fc5300");
    $("#icon_03").css("background-position","-278px -94px");
    $(".leftsearch .leftsearchbox:eq(2) .clearfix a").css("color","#fff");
    $(".lefttitle:eq(2)").css("color","#fff");
    $(".triangle:eq(2)").hide();
    $(".rightad:eq(2)").show();
});

$(".leftsearch .leftsearchbox:eq(3)").mouseover(function(){

    $("#icon_01").css("background-position","-278px -141px");
    $("#icon_02").css("background-position","-278px 0px");
    $("#icon_03").css("background-position","-278px -47px");
    $(".leftsearch .leftsearchbox .clearfix a").css("color","#333");
    $(".lefttitle").css("color","#fc5300");
    $(".triangle").show();
    $(".more:eq(0)").css("color","#fc5300");
    $(".rightad").hide();
    $(".leftsearch .leftsearchbox").css("background","#fff");

    $(".leftsearch .leftsearchbox:eq(3)").css("background","#fc5300");
    $("#icon_04").css("background-position","-141px -219px");
    $(".leftsearch .leftsearchbox:eq(3) .clearfix a").css("color","#fff");
    $(".lefttitle:eq(3)").css("color","#fff");
    $(".triangle:eq(3)").hide();
    $(".rightad:eq(3)").show();
});

$(".leftsearch .leftsearchbox").mouseleave(function(){
    $(".rightad").hide();
    $("#icon_01").css("background-position","-278px -141px");
    $("#icon_02").css("background-position","-278px 0");
    $("#icon_03").css("background-position","-278px -47px");
    $("#icon_04").css("background-position","0 -219px");
    $(".leftsearch .leftsearchbox .clearfix a").css("color","#333");
    $(".lefttitle").css("color","#fc5300");
    $(".triangle").show();
    $(".more:eq(0)").css("color","#fc5300");
    $(".leftsearch .leftsearchbox").css("background","#fff");
});

//修改处  商家/个人推荐二手车

$(".tjdealer").slide({mainCell:".piclist", effect:"leftLoop",vis:5,autoPlay:true});


})
</script>
<script type="text/javascript" src="/simcms/static/js/jquery.inputtext.js"></script>
<script language="JavaScript">
$(function(){
    $("#carcount").load("/simcms/index.php?m=ajax&ajax=1&carcount=1");
    $(".keywords").textRemindAuto();
    //城市选择
    $(".topcity").toggle(
        function () {
            $(".topcitylist").show();
        },
        function () {
            $(".topcitylist").hide();
        }
    );
})
</script>
{/block}
{block name="main"}
<div class="fullSlide">
    <div class="leftsearch">
        <div class="leftsearch_tab">
            <ul class="clearfix">
              <!--修改处-->
              <li class="here">快速选车</li>
              <li>快速评估</li>
            </ul>
        </div>
        <div class="leftsearch_tab_box">
            <div>
                <div class="leftsearchbox" >
                    <div class="rightad" id="allcarlist">
                        <div class="triangle1" style="top:74px;"></div>
                        <div class="carlist_left" >
                            <h2>全部车辆品牌</h2>
                            <ul class="carlist">
                                {volist name="brand_list" id="vo"}
                                <li class="carlist_li">
                                    <span>{$key}</span>
                                    {volist name="$vo" id="vo1" length='3'}
                                    <a class="carlist_a" href="{:url('index/buycars/recondition',array('key'=>'brandlevel1','val'=>$vo1.id))}" >{$vo1.name}</a>
                                    {/volist}
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                    <div class="lefttitle">
                        <span class="lefttitle_icon" id="icon_01"></span> 按品牌
                    </div>
                    <div class="triangle"></div>
                        <div class="clearfix">
                            {volist name="brand_select" id="vo" length='8'}
                            <a href='{:url("index/buycars/recondition",array("key"=>"brandlevel1","val"=>$vo.id))}'>{$vo.name}</a>
                            {/volist}
                            <a href="{url('index/buycars/index')}" class="more">更多<i></i></a>
                        </div>
                    </div>
                    <div class="leftsearchbox">
                        <div class="rightad" id="ad_01">
                            <div class="triangle1" style="top:144px;"></div>
                            <a class="rightad_center" href="#">
                                <img class="ad_img" src="__INDEX__/default/image/ad0.jpg" width="562" height="422" />
                            </a>
                            <div class="rightad_right">
                                <a class="rightad_a" href="#">
                                    <img class="ad_img" src="__INDEX__/default/image/ad1.jpg" width="300" height="211" />
                                </a>
                                <a class="rightad_a" href="#">
                                    <img class="ad_img" src="__INDEX__/default/image/ad2.jpg" width="300" height="211" />
                                </a>
                            </div>
                        </div>
                        <div class="lefttitle">
                            <span class="lefttitle_icon" id="icon_02"></span>按价格
                        </div>
                        <div class="triangle"></div>
                        <div class="clearfix">
                            <a href="{:url('index/buycars/recondition',array('key'=>'price','val'=>3))}" >3万以下</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'price','val'=>5))}" >3-5万</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'price','val'=>8))}" >5-8万</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'price','val'=>12))}" >8-12万</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'price','val'=>18))}" >12-18万</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'price','val'=>24))}" >18-24万</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'price','val'=>35))}" >24-35万</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'price','val'=>50))}" >35-50万</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'price','val'=>100))}" >50-100万</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'price','val'=>999))}" >100万以上</a>
                        </div>
                    </div>
                    <div class="leftsearchbox">
                        <div class="rightad" id="ad_02">
                            <div class="triangle1" style="top:225px;">

                            </div>
                            <a class="rightad_center" href="#">
                                <img class="ad_img" src="__INDEX__/default/image/ad5.jpg" width="562" height="422" />
                            </a>
                            <div class="rightad_right">
                                <a class="rightad_a" href="#">
                                    <img class="ad_img" src="__INDEX__/default/image/ad3.jpg" width="300" height="211" />
                                </a>
                                <a class="rightad_a" href="#">
                                    <img class="ad_img" src="__INDEX__/default/image/ad4.jpg" width="300" height="211" />
                                </a>
                            </div>
                        </div>
                        <div class="lefttitle">
                            <span class="lefttitle_icon" id="icon_03"></span>按车型
                        </div>
                        <div class="triangle">

                        </div>
                        <div class="clearfix">
                            {volist name="level" id="vo"}
                            <a href="{:url('index/buycars/recondition',array('key'=>'level','val'=>$vo.id))}" >{$vo.name}</a>
                            {/volist}
                        </div>
                    </div>
                    <div class="leftsearchbox" style="height:62px;">
                        <div class="rightad" id="ad_03">
                            <div class="triangle1" style="top:295px;">

                            </div>
                            <a class="rightad_center" href="#">
                                <img class="ad_img" src="__INDEX__/default/image/ad6.jpg" width="562" height="422" />
                            </a>
                            <div class="rightad_right">
                                <a class="rightad_a" href="#">
                                    <img class="ad_img" src="__INDEX__/default/image/ad2.jpg" width="300" height="211" />
                                </a>
                                <a class="rightad_a" href="#">
                                    <img class="ad_img" src="__INDEX__/default/image/ad3.jpg" width="300" height="211" />
                                </a>
                            </div>
                        </div>
                        <div class="lefttitle">
                            <span class="lefttitle_icon" id="icon_04"></span>按车龄
                        </div>
                        <div class="triangle"></div>
                        <div class="clearfix">
                            <a href="{:url('index/buycars/recondition',array('key'=>'plate','val'=>1))}" >1年以内</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'plate','val'=>3))}" >1-3年</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'plate','val'=>5))}" >3-5年</a>
                            <a href="{:url('index/buycars/recondition',array('key'=>'plate','val'=>999))}" >5年以上</a>
                        </div>
                    </div>
                    <div class="other">
                        <i></i>
                        <p class="tel">400-0000-000</p>
                        <p class="info">8:30-17:00（工作时间）</p>
                    </div>
                </div>
                <div class="hide pb20">
                    <form name="carform" class="carform" method="post" action="{:url('index/assessment/assesshanddle')}">
                        <table cellspacing="0" cellpadding="0" width="100%"  class="sell_table" id="quickassess">
                            <tr id="brands">
            					<th> 品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌：</th>
            					<td colspan="3">
                                    <select name="brand_level1" class="select01 brand1">
            							<option value=''>请选择母品牌</option>
            						</select>
                                    <select name="brand_level2" class="select01 brand2">
            							<option value="" selected>请选择子车系</option>
            						</select>

                                    <select name="brand_level3" class="select01 brand3">
            							<option value="" selected>请选择车品牌</option>
            						</select>
                                    <select name="carmodel" class="select01 brand4">
            							<option value="" selected>请选择款式</option>
            						</select>
            					</td>
            				</tr>

            				<tr>
            					<th>上牌日期：</th>
            					<td>
                                    <select name="year" datatype="n" nullmsg="请选择年份！" class="select02">
            						    <option value=''>请选择年份</option>
                                        {volist name="years" id="vo"}
                                        <option value='{$vo}'>{$vo}年</option>
                                        {/volist}
            						</select>
            						<select name="month" datatype="n" nullmsg="请选择月份！" class="select02">
            							<option value=''>请选择月份</option>
            							<option value='1'>1月份</option>
            							<option value='2'>2月份</option>
            							<option value='3'>3月份</option>
            							<option value='4'>4月份</option>
            							<option value='5'>5月份</option>
            							<option value='6'>6月份</option>
            							<option value='7'>7月份</option>
            							<option value='8'>8月份</option>
            							<option value='9'>9月份</option>
            							<option value='10'>10月份</option>
            							<option value='11'>11月份</option>
            							<option value='12'>12月份</option>
            						</select>
            					</td>
            				</tr>

            				<tr>
            					<th>行驶里程：</th>
            					<td>
                                    <input name="kilometre" type="text" size="15" />
            						<span class="gray">(万公里)</span>
                                </td>
            				</tr>

            				<tr>
            					<td></td>
            					<td>
                                    <input type="submit" value="立刻发布" class="sell_but02">

                                </td>
            				</tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="small-banner">
            <a href="{:url('index/assessment/index')}" target="_blank" class="banner-item last">
                <span class="icon icon-3"></span>
                <p class="f20">车价评估</p>
                <p>免费评估车辆价格</p>
            </a>
        </div>

        <div class="bd">
            <ul>
                <li _src="url(/upload/image/20140926/20140926103555_25468.jpg)" style="background:#fc5300 center 0 no-repeat;"><a target="_blank" href="http://www.baidu.com"></a></li>
                <li _src="url(/upload/image/20140926/20140926103611_26805.jpg)" style="background:#fc5300 center 0 no-repeat;"><a target="_blank" href="http://www.baidu.com"></a></li>
              </ul>
        </div>
        <div class="hd">
            <ul>
            </ul>
        </div>
        <span class="prev"></span>
        <span class="next"></span>
    </div>
</div>
<script type="text/javascript">
/* 控制左右按钮显示 */
jQuery(".fullSlide").hover(function(){ jQuery(this).find(".prev,.next").stop(true,true).fadeTo("show",0.5) },function(){ jQuery(this).find(".prev,.next").fadeOut() });
/* 调用SuperSlide */
jQuery(".fullSlide").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click",
	startFun:function(i){
		var curLi = jQuery(".fullSlide .bd li").eq(i); /* 当前大图的li */
		if( !!curLi.attr("_src") ){
			curLi.css("background-image",curLi.attr("_src")).removeAttr("_src") /* 将_src地址赋予li背景，然后删除_src */
		}
	}
});
</script>
<div class="main mt20 clearfix" id="hot_brands">
    <div class="tab_title">
        <ul class="clearfix">
            <li class="js-title">
                <a style="line-height:76px;cursor:pointer;color: #ff6600;font-weight: bold;font-size: 20px;" class="current">最新车源</a>
            </li>
            {volist name="brand_select" id="vo" length='8'}
            <li class="js-title">
                <a  href="javascript:;">
                    <img src="__UPLOADS__/brand/{$vo.thumb}" alt="{$vo.name}">{$vo.name}
                </a>
            </li>
            {/volist}
          </ul>
    </div>
    <div class="cartab_box">
        <div class="box">
            <ul id="hotcar" class="bigcarlist clearfix">
                {volist name='brand_select' id="vo"}
                {volist name="$vo.children" id="vo1" length='10'}
                <li class="bbgspe">
                    <a href="" target="_blank">
                        <img src="__UPLOADS__/{$vo1.carsimg[0]['url']}" alt="{$vo1.full_name}"/>
                    </a>
                    <p class="carname mt5">
                        <a href="{:url('index/cars/carsdetails',array('id'=>$vo1.id))}" target="_blank">{$vo1.full_name}
                        </a>
                    </p>
                    <p>
                        <span class="price">{$vo1.kilometer|format='%.2f'}</span>万
                    </p>
                    <p class="gray01 mt5 f12">
                        <span class="fr">里程：{$vo1.kilometer|format='%.2f'}万公里</span>上牌：{$vo1.plate|date="Y年m月"}
                    </p>
                </li>
                {/volist}
                {/volist}
            </ul>
            <div class="carmore">
                <a target="_blank" href="{:url('index/buycars/recondition')}">查看更多汽车<i></i></a></div>
        </div>
        {volist name='brand_select' id="vo"}
        <div class="box hide">
            <ul class="bigcarlist clearfix">
                {volist name="$vo.children" id="vo1" length='10'}
                <li class="bbgspe">
                    <a href="" target="_blank">
                        <img src="__UPLOADS__/{$vo1.carsimg[0]['url']}" alt="{$vo1.full_name}"/>
                    </a>
                    <p class="carname mt5">
                        <a href="{:url('index/cars/carsdetails',array('id'=>$vo1.id))}" target="_blank">{$vo1.full_name}
                        </a>
                    </p>
                    <p>
                        <span class="price">{$vo1.kilometer|format='%.2f'}</span>万
                    </p>
                    <p class="gray01 mt5 f12">
                        <span class="fr">里程：{$vo1.kilometer|format='%.2f'}万公里</span>上牌：{$vo1.plate|date="Y年m月"}
                    </p>
                </li>
                {/volist}
            </ul>
            <div class="carmore">
                <a target="_blank" href="{:url('index/buycars/recondition',array('key'=>'brandlevel1','val'=>$vo.id))}">查看更多
                    <strong>{$vo.name}</strong>汽车
                    <i></i>
                </a>
            </div>
        </div>
        {/volist}
     </div>
</div>
<div class="main mt10">
    <script language="javascript" src="/simcms/index.php?m=ad&id=54"></script>
</div>

<div class="main mt15 clearfix">
    <div class="index_left02">
        <ul class="indexnews_tab clearfix">
            {volist name="news" id="vo"}
            <li
            {if $key==0}
            class="here"
            {/if}>{$vo.name}</li>
            {/volist}
        </ul>
        <div class="indexnews_box">
            {volist name="news" id="vo"}
            <div
            {if $key==0}
            class="clearfix"
            {else/}
            class="hide clearfix"
            {/if}
            >
                <div class="box_left">
                    {volist name="$vo.children" id="vo1" offset='0' length='2'}
                    <div class="picnewslist clearfix">
                        <div class="img">
                            <img src="">
                        </div>
                        <div class="info">
                            <p>
                                <a href="{:url('index/news/newsdetails',array('id'=>$vo1.id))}" class="f14 fb">{$vo1.title|msubstr=0,20,'utf-8',true}</a>
                            </p>
                            <p class="mt10 gray">
                                核心提示：{$vo1.title|msubstr=0,10,'utf-8',false}
                            </p>
                        </div>
                    </div>
                    {/volist}
                </div>
                <div class="box_right">
                    <ul class="newslist">
                        {volist name="$vo.children" id="vo1" offset='2' length='4'}
                        <li>
                            <a href="{:url('index/news/newsdetails',array('id'=>$vo1.id))}" target="_blank">{$vo1.title|msubstr=0,20,'utf-8',false}</a></li>
                        {/volist}
                      </ul>
                </div>
            </div>
            {/volist}
            <!-- <div class="hide clearfix">
                <div class="box_left">
                    <div class="picnewslist clearfix">
                        <div class="img">
                            <img src="/upload/image/20140928/20140928090346_46294.jpg">
                        </div>
                        <div class="info">
                            <p>
                                <a href="/simcms/news/201409/236.html" class="f14 fb">秋冬季如何拒绝爱车跟我玩小电击</a>
                            </p>
                            <p class="mt10 gray">
                                “啪”的一声，接触到车身的手被静电打得又麻又疼，
                                这是秋冬季开车经常会遇到的情况。
                                虽然这不会造成大麻烦，但是每次碰到车都玩一次小电击，
                                可真不舒服。对于这种现象，一些车主甚至
                            </p>
                        </div>
                    </div>
                    <div class="picnewslist clearfix">
                        <div class="img"><img src="/upload/image/20140928/20140928090534_11092.jpg">
                        </div>
                        <div class="info">
                            <p><a href="/simcms/news/201409/235.html" class="f14 fb">安全气囊事关生命的小部件</a></p>
                            <p class="mt10 gray">
                                安全气囊顾名思义，就是在危险发生时可以保护驾驶员生命安全的气囊袋，一般是由一个折叠好的气囊袋、充气器、点火器以及氮气固态粒子组成，通过安装在车头的几组传感器感应车辆与外物的撞击度，以确</p>
                        </div>
                    </div>
                </div>
                <div class="box_right">
                    <ul class="newslist">
                        <li><a href="/simcms/news/201409/265.html" target="_blank">如何防范汽车自燃？</a></li>
                        <li><a href="/simcms/news/201409/264.html" target="_blank">汽车异响的原因是什么？</a></li>
                        <li><a href="/simcms/news/201409/263.html" target="_blank">改装车身份将合法化 全面解析二手车改装那</a></li>
                        <li><a href="/simcms/news/201409/262.html" target="_blank">轮胎被扎怎么办 三招应急办法帮你解围</a></li>
                        <li><a href="/simcms/news/201409/261.html" target="_blank">翻新能卖高价？支招如何卖二手车更“超值”</a></li>
                        <li><a href="/simcms/news/201409/256.html" target="_blank">二手车保养“换”先行</a></li>
                        <li><a href="/simcms/news/201409/236.html" target="_blank">秋冬季如何拒绝爱车跟我玩小电击</a></li>
                        <li><a href="/simcms/news/201409/235.html" target="_blank">安全气囊事关生命的小部件</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>

</div>
<script language="JavaScript">
$(function() {
	$news_li = $("ul.indexnews_tab li");
	$news_li.click(function() {
		$(this).addClass("here").siblings().removeClass("here");
		var index = $news_li.index(this);
		$("div.indexnews_box > div").eq(index).show().siblings().hide();
	});
});
</script>

<div class="mt15 clearfix" id="services">
  <!--公司相关-->
  <dl class="d1">
    <dt>售后服务电话</dt>
    <dd class="tel">400-0000-000</dd>
    <dd class="time">8:30-17:00(工作时间)</dd>
    <dd>客服邮箱:485368@qq.com</dd>
  </dl>
  <dl>
    <dt>交易帮助</dt>
    <dd> <a target="_blank" href="/simcms/index.php?m=news&catid=20">买车帮助</a> <a target="_blank" href="/simcms/index.php?m=news&catid=17">卖车帮助</a> <a target="_blank" href="/simcms/index.php?m=news&catid=18">过户帮助</a> </dd>
  </dl>
  <dl>
    <dt>了解我们</dt>
    <dd> <a target="_blank" href="/simcms/contact/">关于我们</a><a target="_blank" href="/simcms/contact/86.html">公司简介</a> <a target="_blank" href="/simcms/contact/85.html">人才招聘</a> </dd>
  </dl>
  <dl>
    <dt>客服中心</dt>
    <dd> <a style="text-decoration: none;font-weight: bold;">400-0000-000</a> <a target="_blank" href="/simcms/contact/86.html">网站合作</a> <a target="_blank" href="/simcms/contact/contact.html">联系我们</a> </dd>
  </dl>
  <dl>
    <dt>意见反馈</dt>
    <dd> <a id="feedback" href="javascript:;">投诉与建议</a> </dd>
  </dl>
  <dl class="d6">
    <dt>特色服务</dt>
    <dd> <a target="_blank" href="/simcms/join/">加盟我们</a> </dd>
	<dd> <a target="_blank" href="/simcms/appraise/">车况鉴定</a> </dd>
	<dd> <a target="_blank" href="/simcms/index.php?m=assesscar">二手车评估</a> </dd>
  </dl>
</div>
<div class="main clearfix">
		<div class="both_box">
            <ul class="clearfix">
            <!-- li标签如果可链接添加 click_direct样式，添加rel属性，只为链接地址-->
                <li class="click_direct" rel="#">
                    <div class="pic pic_style1"></div>
                    <h4>100%真实车源</h4>
                    <p>100%真实车源，针对普通消费者推出的真实车源服务！</p>
                </li>
				<!--
                <li class="click_direct" rel="#">
                    <div class="pic pic_style2"></div>
                    <h4>售前免费车况检测</h4>
                    <p>凡是在各连锁店购车的用户均可免费享受检测服务。</p>
                </li>
                -->
                <li class="click_direct" rel="#">
                    <div class="pic pic_style3"></div>
                    <h4>延长保修服务</h4>
                    <p>为消费者提供超过保修期与保修范围的维修服务。</p>
                </li>
                <li>
                    <div class="pic pic_style5"></div>
                    <h4>代办服务</h4>
                    <p>交易顾问为您代办各类手续和文件，节约您90%的时间！</p>
                </li>
                <li>
                    <div class="pic pic_style4"></div>
                    <h4>贷款服务</h4>
                    <p>根据您的资信和具体情况确定分期细节，轻轻松松把车“贷”回家。</p>
                </li>
				<!--
                <li class="click_direct" rel="#">
                    <div class="pic pic_style6"></div>
                    <h4>免费保修服务</h4>
                    <p>到所有门店购车，可享免费车况检测，并赠送免费保修服务。</p>
                </li>
				 -->
            </ul>
        </div>
</div>
<script language="JavaScript">
$(function() {
	$mark_li = $("div.marklist ul li");
	$mark_li.mouseover(function() {
		$(this).addClass("here").siblings().removeClass("here");
		var index = $mark_li.index(this);
		$("div.marklistbox > div").eq(index).show().siblings().hide();
	});
});
</script>
<div class="main mt15 clearfix">
  <ul class="indexnews_tab clearfix">
    <li class="here">友情链接</li>
    <li>热门车系</li>
  </ul>
  <div class="indexnews_box">
    <div class="p10">
      <ul class="link_list clearfix">
              </ul>
    </div>
    <div class="hide p10">
      <div class="marklist">
        <ul class="clearfix">
           <li class="here">A
          </li>
           <li >B
          </li>
           <li >C
          </li>
           <li >D
          </li>
           <li >F
          </li>
           <li >J
          </li>
           <li >L
          </li>
           <li >M
          </li>
           <li >W
          </li>
                  </ul>
      </div>
      <div class="marklistbox">         <div class="markbox ">  <a href="/simcms/index.php?m=search&k=%E5%A5%A5%E8%BF%AAQ5">奥迪Q5</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           </div>
                <div class="markbox hide">  <a href="/simcms/index.php?m=search&k=+%E5%AE%9D%E6%9D%A5"> 宝来</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="/simcms/index.php?m=search&k=%E6%AF%94%E4%BA%9A%E8%BF%AA">比亚迪</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           </div>
                <div class="markbox hide">  <a href="/simcms/index.php?m=search&k=%E9%95%BF%E5%AE%89">长安</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           </div>
                <div class="markbox hide">  <a href="/simcms/index.php?m=search&k=%E5%A4%A7%E4%BC%97">大众</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           </div>
                <div class="markbox hide">  <a href="/simcms/index.php?m=search&k=%E7%A6%8F%E5%85%8B%E6%96%AF">福克斯</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           </div>
                <div class="markbox hide">  <a href="/simcms/index.php?m=search&k=%E6%8D%B7%E8%BE%BE">捷达</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="/simcms/index.php?m=search&k=%E5%90%89%E5%88%A9">吉利</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           </div>
                <div class="markbox hide">  <a href="/simcms/index.php?m=search&k=%E5%8A%9B%E5%B8%86">力帆</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           </div>
                <div class="markbox hide">  <a href="/simcms/index.php?m=search&k=+%E8%BF%88%E8%85%BE"> 迈腾</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           </div>
                <div class="markbox hide">  <a href="/simcms/index.php?m=search&k=%E4%BA%94%E8%8F%B1">五菱</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           </div>
         </div>
    </div>
  </div>
</div>
{/block}
