{extend name="base" /}
{block name="title"}组列表{/block}

{block name="right"}
    <div class="row J_mainContent" id="content-main" style="overflow-y:scroll">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>管理员管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <strong>组管理</strong>
                    </li>
                    <li>
                        组列表
                    </li>
                </ol>
            </div>
        </div>
        <div class="row ibox-content">
            <div class="col-sm-2">
                <button class="btn btn-success" type="button" id="addAdmin">
                    <i class="fa fa-plus-square"></i>&nbsp;&nbsp;
                    <span class="bold">添加组</span>
                </button>
            </div>
            <div class="col-sm-10">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>级别名称</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>

                                    </td>
                                    <td>
                                        <div class="btn-group open">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="true">操作 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href=""></a>
                                                </li>
                                                <li><a href=""></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{/block}
{block name="js"}
{__block__}
<script src="__ADMIN__/js/hAdmin.js?v=4.1.0"></script>
<script src="__ADMIN__/js/plugins/pace/pace.min.js"></script>
<script type="text/javascript">
    $("#addAdmin").click(function(event) {
        window.location="{:url('admin/group/add')}"
    });
</script>
{/block}
