{extend name="base" /}
{block name="title"}修改品牌{/block}
    {block name="right"}
        <div class="row J_mainContent" id="content-main">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>二手车管理</h2>
                    <ol class="breadcrumb">
                        <li>
                            <strong>品牌管理</strong>
                        </li>
                        <li>
                            修改品牌
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <form action="{:url('admin/brand/updHanddle')}"
                            method="post" class="form-horizontal row"
                            enctype="multipart/form-data" id="form1">
                            <input type="hidden" name="id" value="{$brand_find.id}">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">上级品牌</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">
                                                {if $brand_find['pid']!=0}{$brand_father_find.name}
                                                {else/}顶级品牌
                                                {/if}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">品牌名称</label>
                                        <div class="col-sm-9">
                                            <input name="name" class="form-control" value={$brand_find.name} type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">是否流行</label>
                                        <div class="col-sm-9">
                                            <label class="radio-inline">
                                                <input
                                                {if $brand_find.type==1}
                                                checked=""
                                                {/if}
                                                 value="1" name="type" type="radio">流行</label>
                                            <label class="radio-inline">
                                                <input
                                                {if $brand_find.type==0}
                                                checked=""
                                                {/if}
                                                value="0" name="type" type="radio">不流行</label>
                                        </div>
                                    </div>
                                    {if $brand_find.level==1}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">文件域：</label>
                                        <div class="col-sm-9">
                                            <input name="thumb" class="form-control" type="file">
                                        </div>
                                    </div>
                                    {/if}
                                    {if $brand_find.level==1}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">下拉列表：</label>
                                        <div class="col-sm-3">
                                            <select class="form-control" name="initial">
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                                <option value="C">C</option>
                                                <option value="D">D</option>
                                                <option value="E">E</option>
                                                <option value="F">F</option>
                                                <option value="G">G</option>
                                                <option value="H">H</option>
                                                <option value="I">I</option>
                                                <option value="J">J</option>
                                                <option value="K">K</option>
                                                <option value="L">L</option>
                                                <option value="M">M</option>
                                                <option value="N">N</option>
                                                <option value="O">O</option>
                                                <option value="P">P</option>
                                                <option value="Q">Q</option>
                                                <option value="R">R</option>
                                                <option value="S">S</option>
                                                <option value="T">T</option>
                                                <option value="U">U</option>
                                                <option value="V">V</option>
                                                <option value="W">W</option>
                                                <option value="X">X</option>
                                                <option value="Y">Y</option>
                                                <option value="Z">Z</option>
                                            </select>
                                        </div>
                                    </div>
                                    {/if}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="submit" value="修改品牌">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/block}
    {block name="js"}
    {__block__}
    <script src="__ADMIN__/js/hAdmin.js?v=4.1.0"></script>
    <script src="__ADMIN__/js/plugins/pace/pace.min.js"></script>
    <script src="__ADMIN__/js/plugins/validate/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $().ready(function(){
            $("#form1").validate({
                rules:{
                    name:{
                        required:true,
                        rangelength:[1,10],
                        remote:{
                            data:{id:function(){
                                return $("input[type='hidden']").val();
                            }},
                            url:"{:url('admin/brand/checkNameAjax')}",
                            type:"post"
                        }
                    },
                },
                messages:{
                    name:{
                        required:"请输入品牌名称",
                        rangelength:"名称长度在1-10之间",
                        remote:"该品牌已经存在"
                    },
                }
            });
        })
    </script>
    <script type="text/javascript">
        $(function(){
            $("select").find("option[value='{$brand_find.initial}']").attr('selected', 'selected');
        })
    </script>
    {/block}
