<link href="__INDEX__/default/css/index.css" rel="stylesheet" type="text/css"/>
<link href="__INDEX__/default/css/car.css" rel="stylesheet" type="text/css"/>
<link href="__INDEX__/default/css/user.css" rel="stylesheet" type="text/css"/>
<link rel="shortcut icon" type="image/ico" href="__INDEX__/default/img/favicon.ico">
<script type="text/javascript" src="__INDEX__/static/js/jquery.js"></script>
<script type="text/javascript" src="__INDEX__/static/js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="__INDEX__/static/js/Validform_v5.3.2_min.js"></script>
        <!-- <script language="JavaScript">
        $(function(){
        	$("#login").load("/simcms/index.php?m=ajax&ajax=1&login=1");
        })
        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};
        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script> -->
