<div class="nav_list">
    <ul class="clearfix">
        <li>
            <a href="{:url('index/index/index')}" title="首页" class="here" >首页</a>
        </li>
        <li>
            <a href="{:url('index/buycars/index')}" title="我要买车"  >我要买车</a>
        </li>
        <li>
            <a href="{:url('index/member/erchoucheadd')}" title="我要卖车"  target="_blank">我要卖车</a>
        </li>
        <li>
            <a href="{:url('index/assessment/index')}" title="车价评估"  >车价评估</a>
        </li>



        <li>
            <a href="/simcms/index.php?m=issell&c=s_2" title="成交车辆"  >成交车辆</a>
        </li>
        <li>
            <a href="/simcms/index.php?m=rentcar" title="我要租车"  >我要租车</a>
        </li>
        <li style="float:right;"><a href="/simcms/index.php?m=dealer" class="here" style="background:#53a3e8;width:130px;vertical-align:top;"><img src="__INDEX__/default/img/dealer.png"/>认证商家</a></li>
    </ul>
</div>
