<div class="nav_list">
    <ul class="clearfix">
                <li>
        <a href="/simcms/index.php" title="首页" class="here" >首页</a>
        </li>
                <li>
        <a href="/simcms/index.php?m=search" title="我要买车"  >我要买车</a>
        </li>
                <li>
        <a href="index.php?m=user&a=addcar" title="我要卖车"  target="_blank">我要卖车</a>
        </li>
                <li>
        <a href="/simcms/index.php?m=assesscar" title="车价评估"  >车价评估</a>
        </li>
                <li>
        <a href="/simcms/index.php?m=qiugou" title="求购信息"  >求购信息</a>
        </li>
                <li>
        <a href="/simcms/index.php?m=insurance" title="汽车保险"  >汽车保险</a>
        </li>
                <li>
        <a href="/simcms/index.php?m=market" title="周末集市"  >周末集市</a>
        </li>
                <li>
        <a href="/simcms/index.php?m=issell&c=s_2" title="成交车辆"  >成交车辆</a>
        </li>
                <li>
        <a href="/simcms/index.php?m=rentcar" title="我要租车"  >我要租车</a>
        </li>
                <li style="float:right;"><a href="/simcms/index.php?m=dealer" class="here" style="background:#53a3e8;width:130px;vertical-align:top;"><img src="__INDEX__/default/img/dealer.png"/>认证商家</a></li>
    </ul>
</div>
