{extend name="base"/}
{block name="title"}车源评估{/block}
{block name="header"}
{__block__}
<link href="__INDEX__/default/css/page.css" rel="stylesheet" type="text/css"/>
{/block}
{block name="main"}
<div class="assess_banner">
    <div class="assessbox">
		<div class="form_title"><span>免费评估车源</span></div>
		<form name="carform" class="carform" method="post" action="/simcms/index.php?m=assesscar">
			<table cellspacing="0" cellpadding="0" width="100%"  class="sell_table">
				<tr>
					<th> 品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌：</th>
					<td colspan="3">
                        <select name="p_brand" id="brand" datatype="n" nullmsg="请选择品牌！" class="select01">
							<option value=''>请选择品牌</option>
						</select>
					</td>
				</tr>

				<tr>
					<th> 车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系：</th>
					<td>
						<select id="subbrand" name="p_subbrand" datatype="n" nullmsg="请选择车系！" class="select01">
							<option value="" selected>请选择车系</option>
						</select>
					</td>
				</tr>

				<tr>
				    <th> 车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：</th>
					<td>
						<select id="subsubbrand" name="p_subsubbrand" datatype="n" nullmsg="请选择款式！" class="select01">
							<option value="" selected>请选择款式</option>
						</select>
					</td>
				</tr>

				<tr>
					<th>上牌日期：</th>
					<td>
                        <select name="p_year" datatype="n" nullmsg="请选择年份！" class="select02">
						    <option value=''>请选择年份</option>
						</select>
						<select name="p_month" datatype="n" nullmsg="请选择月份！" class="select02">
							<option value=''>请选择月份</option>
						</select>
					</td>
				</tr>

				<tr>
					<th>行驶里程：</th>
					<td>
                        <input name="p_kilometre" type="text" id="p_kilometre" size="15" />
						<span class="gray">(万公里)</span>
                    </td>
				</tr>

				<tr>
					<th>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</th>
					<td><input name="p_contact_tel" type="text" size="30" class="inp01" value="" datatype="m" nullmsg="请填写手机号！"/></td>
				</tr>

				<tr>
					<th>验&nbsp;&nbsp;证&nbsp;&nbsp;码：</th>
					<td colspan="5"><input name="authcode" id="cftcode"  type="text"  class="inp02" datatype="s" ajaxurl="/simcms/index.php?m=ajax&ajax=1" nullmsg="请输入验证码！" errormsg="请输入正确的验证码！"/> <img src="/simcms/include/kcaptcha/" width="70" height="30" onclick="this.src='/simcms/include/kcaptcha/?'+Math.random();" title="点击刷新验证码" style="cursor:pointer" id="checkcode" align="absmiddle"></td>
				</tr>

				<tr>
					<td></td>
					<td>
                        <input type="submit" value="立刻发布" class="sell_but02">
						<input type="hidden" name="action" value="sellcar">
                    </td>
				</tr>
			</table>
		</form>
	</div>
</div>

<div class="main clearfix">
	<div>
		<div class="commonbox05">
			<h3 class="clearfix"><span>最新评估案例</span></h3>
			<div>
				<table cellspacing="0" cellpadding="0" width="100%"  class="listtable01">
					<tr>
                        <th>品牌型号</th>
                        <th>上牌日期</th>
                        <th>行驶里程</th>
                        <th>评估价</th>
                    </tr>
					<tr>
					    <td align="center">别克 凯越 2013 款 1.5L 手动 尊享型</td>
					    <td align="center">2009年1月</td>

					    <td align="center">15.00万公里</td>
					    <td align="center" class="red">4.50万元</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
{/block}
