{extend name="base" /}
{block name="title"}车型列表{/block}
    {block name="right"}
        <div class="row J_mainContent" id="content-main" style="overflow-y:scroll">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>二手车管理</h2>
                    <ol class="breadcrumb">
                        <li>
                            <strong>车型管理</strong>
                        </li>
                        <li>
                            车型列表
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row ibox-content">
                <div class="col-sm-2">
                    <button class="btn btn-success" type="button" id="addBrand">
                        <i class="fa fa-plus-square"></i>&nbsp;&nbsp;
                        <span class="bold">添加款式</span>
                    </button>
                </div>
                <div class="col-sm-10">
                    <ul class="list-unstyled list-inline">
                        {volist name="az" id="vo"}
                        <li><a href="{:url('admin/carmodel/lst',array('initial'=>$vo))}">{$vo}</a></li>
                        {/volist}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>母品牌</th>
                                        <th>子品牌</th>
                                        <th>车品牌</th>
                                        <th>款式</th>
                                        <th>版本</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {volist name="brand_data" id="vo"}
                                    {volist name="$vo['2']['carmodel']" id="vo1"}
                                    <tr>
                                        <td>{$vo1.id}</td>
                                        <td>{$vo[0]['name']}</td>
                                        <td>{$vo[1]['name']}</td>
                                        <td>{$vo[2]['name']}</td>
                                        <td>{$vo1.style}款</td>
                                        <td>{$vo1.edition}</td>
                                        <td>
                                            <div class="btn-group open">
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="true">操作 <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{:url('admin/carmodel/upd',array('id'=>$vo1.id))}">修改</a>
                                                    </li>
                                                    <li><a href="">删除</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                    {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/block}
    {block name="js"}
    {__block__}
    <script src="__ADMIN__/js/hAdmin.js?v=4.1.0"></script>
    <script src="__ADMIN__/js/plugins/pace/pace.min.js"></script>
    <script type="text/javascript">
        $("#addBrand").click(function(event) {
            /* Act on the event */
            window.location.href = "{:url('admin/carmodel/add')}";
        });

        $(".type").click(function(event) {
            /* Act on the event */
            var id = $(this).parents('tr').find("td:eq(0)").html();
            $.ajax({
                url: '{:url("admin/brand/changeTypeAjax")}',
                type: 'post',
                data: {id: id}
            })
            .done(function(data) {
                if(data==1){
                    alert("数据修改成功");
                    window.location.reload();
                } else {
                    alert("数据修改失败");
                }
            });
        });

        $(".order").click(function(event) {
            /* Act on the event */
            var id = $(this).parents('tr').find("td:eq(0)").html();
            var order = $(this).prev(":input").val();
            $.ajax({
                url: '{:url("admin/brand/changeOrderAjax")}',
                type: 'post',
                data: {id: id,order:order}
            })
            .done(function(data) {
                if(data==1){
                    alert("数据修改成功");
                    window.location.reload();
                } else {
                    alert("数据修改失败");
                }
            });
        });
    </script>
    {/block}
