{extend name="member/memberbase"/}
{block name="title"}会员中心-修改头像{/block}
{block name="userright"}
<div class="userright">
    <h2 class="usernav">修改头像</h2>
    <form name="form1" class="carform" method="post" action="{:url('index/member/changethumbHanddle')}" enctype="multipart/form-data">
        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="maintable">
            <tr>
                <th>请选择头像：</th>
                <td><input type="file" name="thumb">
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="3">
                    <div class="buttons">
                        <input type="submit" name="Submit" value="提 交" />
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
{/block}
