{extend name="member/memberbase"/}
{block name="title"}会员中心{/block}
{block name="header"}
{__block__}
<link href="__INDEX__/default/css/user.css" rel="stylesheet" type="text/css"/>
{/block}
<!--主体-->
{block name="main"}
<div class="usermain clearfix mt10">
    <div class="userleft">
        <script type="text/javascript">
        $(document).ready(function() {
            $("#user_menu").hover(
                function () {
                    $('.userinfomenu').show();
                },
                function () {
                    $('.userinfomenu').hide();
                }
            );
        });
        </script>
        <div class="userinfo">
            <div class="clearfix">
                <div class="userinfo_left">
                    <img src="/simcms/upload/image/20180601/20180601093506_90299.png"/>
                </div>
                <div class="userinfo_right">
                    <p class="fb">吴兴超.com</p>
                    <div class="mt10 gray01" id="user_menu">账户信息
                        <ul class="userinfomenu hide">
                            <li><a href="/simcms/index.php?m=user&a=upinfo">修改资料</a></li>
                            <li><a href="/simcms/index.php?m=user&a=uppwd">修改密码</a></li>
                            <li><a href="/simcms/index.php?m=user&a=addlogo">修改头像</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="mt10 gray01 pl5">注册日期：2014/09/24</p>
        </div>
        <div class="usermenu">
            <h3><a href="/simcms/index.php?m=user">会员中心首页</a></h3>
        </div>
        <div class="usermenu">
            <h3>二手车管理</h3>
            <ul>
                <li><a href="/simcms/index.php?m=user&a=carlist">二手车管理</a></li>
                <li><a href="/simcms/index.php?m=user&a=rentcarlist">租车管理</a></li>
            </ul>
        </div>
        <div class="usermenu">
            <h3>商机管理</h3>
            <ul>
                <li><a href="/simcms/index.php?m=user&a=subscribelist">预约管理</a></li>
                <li><a href="/simcms/index.php?m=user&a=inquirylist">询价管理</a></li>
            </ul>
        </div>
        <div class="usermenu">
            <h3><a href="/simcms/index.php?m=user&a=logout">退出</a></h3>
        </div>    </div>
        <div class="userright">
            <h2 class="usernav">编辑个人信息</h2>
            <div class="box">
                <form name="form1" class="carform" method="post" action="index.php?m=user">
                    <table cellspacing="0" cellpadding="0" width="100%"  class="maintable">
                        <tr>
                            <th>用户名：</th>
                            <td colspan="3">吴兴超.com</td>
                        </tr>
                        <tr>
                            <th>邮箱地址：</th>
                            <td colspan="3">
                                <input type="text" name="email" value="120986916@qq.com" size="30" class="inp01" datatype="e" ajaxurl="index.php?m=user&ajax=1" nullmsg="请输入邮箱地址！" errormsg="请输入正确的邮箱地址！"/>
                            </td>
                        </tr>
                        <tr>
                            <th>联系人：</th>
                            <td><input type="text" name="nicname" value="吴兴超" class="inp01"  datatype="s" nullmsg="请填写联系人！"/></td>
                        </tr>
                        <tr>
                            <th>手机号码：</th>
                            <td colspan="3">
                                <input type="text" name="mobilephone" value="18040654788" size="20" class="inp01" datatype="m" ajaxurl="index.php?m=user&ajax=1" nullmsg="请输入手机号！" errormsg="请输入正确的手机号！"/>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td colspan="5">
                                <div class="buttons">
                                    <input type="submit" value="提 交" class="submit">
                                    <input type="hidden" name="a" value="upinfo">
                                    <input type="hidden" name="id" value="182">
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
{/block}
        <!--主体结束-->
