{extend name="member/memberbase"/}
{block name="title"}会员中心{/block}
{block name="header"}
{__block__}
<link href="__INDEX__/default/css/user.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
    $(function(){
        $("#checkMobile").click(function(event) {
            /* Act on the event */
            var mobile_number = $("input[name='mobile_number']").val();
            var id = {$Think.cookie.member['id']};
            $.ajax({
                url: '{:url("index/login/checkMobileNumberAjax")}',
                type: 'post',
                data: {id: id,mobile_number:mobile_number}
            })
            .done(function(data) {
               if(!data){
                   alert("该手机号不符合要求或已经被使用！");
               }
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });

        });

        var $input = $("input[name='mobile_number']");
        $input.focus(function(event) {
            /* Act on the event */
            if($input.val()=={$Think.cookie.member['mobile_number']}){
                $input.val('');
            }
        })
        .blur(function(event) {
            /* Act on the event */
            var prv = {$Think.cookie.member['mobile_number']};
            if($input.val()==''){
                $input.val(prv);
            }
        });
    })
</script>
{/block}
<!--主体-->
{block name="main"}
<div class="usermain clearfix mt10">
    <div class="userleft">
        <script type="text/javascript">
        $(document).ready(function() {
            $("#user_menu").hover(
                function () {
                    $('.userinfomenu').show();
                },
                function () {
                    $('.userinfomenu').hide();
                }
            );
        });
        </script>
        <div class="userinfo">
            <div class="clearfix">
                <div class="userinfo_left">
                    <img src="/simcms/upload/image/20180601/20180601093506_90299.png"/>
                </div>
                <div class="userinfo_right">
                    <p class="fb">{$Think.cookie.member['member_name']}</p>
                    <div class="mt10 gray01" id="user_menu">账户信息
                        <ul class="userinfomenu hide">
                            <li><a href="/simcms/index.php?m=user&a=upinfo">修改资料</a></li>
                            <li><a href="/simcms/index.php?m=user&a=uppwd">修改密码</a></li>
                            <li><a href="/simcms/index.php?m=user&a=addlogo">修改头像</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="mt10 gray01 pl5">注册日期：2014/09/24</p>
        </div>
        <div class="usermenu">
            <h3><a href="/simcms/index.php?m=user">会员中心首页</a></h3>
        </div>
        <div class="usermenu">
            <h3>二手车管理</h3>
            <ul>
                <li><a href="/simcms/index.php?m=user&a=carlist">二手车管理</a></li>
                <li><a href="/simcms/index.php?m=user&a=rentcarlist">租车管理</a></li>
            </ul>
        </div>
        <div class="usermenu">
            <h3>商机管理</h3>
            <ul>
                <li><a href="/simcms/index.php?m=user&a=subscribelist">预约管理</a></li>
                <li><a href="/simcms/index.php?m=user&a=inquirylist">询价管理</a></li>
            </ul>
        </div>
        <div class="usermenu">
            <h3><a href="/simcms/index.php?m=user&a=logout">退出</a></h3>
        </div>
    </div>
    <div class="userright">
        <h2 class="usernav">编辑个人信息</h2>
        <div class="box">
            <form name="form1" class="carform" method="post" action="index.php?m=user">
                <table cellspacing="0" cellpadding="0" width="100%"  class="maintable">
                    <tr>
                        <th>用户名：</th>
                        <td colspan="3">{$Think.cookie.member['member_name']}</td>
                    </tr>
                    <tr>
                        <th>手机号码：</th>
                        <td colspan="3">
                            <input type="text" name="mobile_number" value="{$Think.cookie.member['mobile_number']}" size="20" class="inp01"/>
                            <button type="button" id="checkMobile">点击获取验证码</button>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td colspan="5">
                            <div class="buttons">
                                <input type="submit" value="提 交" class="submit">
                                <input type="hidden" name="a" value="upinfo">
                                <input type="hidden" name="id" value="182">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{/block}
        <!--主体结束-->
