<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block name="title"}{/block}</title>
    {block name="header"}{include file='public/header'}{/block}
</head>
<body>
    {block name="userhead"}{include file="member/userhead"}{/block}
    <div class="usermain clearfix mt10">
        {block name="userleft"}{include file="member/userleft"}{/block}
        {block name="userright"}{/block}
    </div>
    {block name="main"}{/block}
    {block name="footer"}{include file="public/footer"}{/block}

</body>
</html>
